<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinit.flowlayout" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstScreen.LogoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FirstScreen.Login"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FirstScreen.terms"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NGODetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".Question.QuestionActivity"
            android:label="@string/app_name" >


        </activity>
        <activity
            android:name=".EmailActivity"
            android:label="@string/title_activity_email" >
        </activity>
        <activity
            android:name=".Socialimpact.SocialActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".VerifyActivity"
            android:label="@string/title_activity_verify" >

        </activity>
        <activity
            android:name=".Question.Q5">
        </activity>
    </application>

</manifest>
